UI vesamenu.c32
TIMEOUT 50
DEFAULT live

MENU BACKGROUND splash.png
MENU TITLE Proton OS Boot Select
MENU COLOR title       0  #ffffff #00000000 std
MENU COLOR border      0  #ffffff #00000000 std
MENU COLOR unsel       0  #ffffff #00000000 std
MENU COLOR sel         7  #000000 #ffffff   std
MENU COLOR help        0  #ffffff #00000000 std
MENU COLOR timeout_msg 0  #ffffff #00000000 std
MENU COLOR timeout     0  #ffffff #00000000 std

LABEL live
    MENU LABEL Start Proton OS
    LINUX /live/vmlinuz
    APPEND boot=live components cow_spacesize=2G audit=0 splash quiet loglevel=3 systemd.show_status=auto udev.log_priority=3
    INITRD /live/initrd.xz

LABEL ram
    MENU LABEL Start Proton OS - RAM mode
    LINUX /live/vmlinuz
    APPEND boot=live components cow_spacesize=2G audit=0 splash quiet loglevel=3 systemd.show_status=auto udev.log_priority=3 toram
    INITRD /live/initrd.xz
